<section id="home">
  <header class="header-intro main-section">
    <div class="main-title">
      <h1><span>Frequence 440, your steppingstone to <a href="/transition">sustainability</a></span></h1>
    </div>
    <p>For people and companies who want more sustainability and resilience, and who ask themselves :
      where can I start?</p>
  </header>
  <section class="discover main-section">
    <div class="left">
      <div class="prg-header">
        <h2>Welcome!</h2>
        <p>I offer two types of resources.
        </p>
      </div>
    </div>
    <div class="right">
      <div class="right-top">
        <div class="right-main">
          <ul class="inline-list">
            <li>Analysis</li>
            <li>Training & conférences</li>
            <li>Innovation workshops</li>
          </ul>
          <h2>For companies and higher ed institutions</h2>
        </div>
        <div class="right-footer">
          <h3 class="semi-underlined">
            <a href="/prestations">Customized services</a>
          </h3>
        </div>
      </div>
      <div class="right-bottom">
        <div class="right-main">
          <ul class="inline-list">
            <li>Literature</li>
            <li>Summaries</li>
            <li>Essays</li>
            <li>Networking</li>
          </ul>
          <h2>For your personal journey</h2>
        </div>
        <div class="right-footer">
          <h3 class="semi-underlined">
            <a href="/ressources">Resources for all</a>
          </h3>
        </div>
      </div>
    </div>
  </section>
  <section class="clients main-section">
    <div class="prg-header">
      <h2>My customers</h2>
      <p>I have had the pleasure to work with various organizations</p>
    </div>
    <div class="grid">
      <figure class="img-cell"> <img src="/images/cerdd.png" alt="logo CERDD">
      </figure>
      <figure class="img-cell"> <img src="/images/ldv.png" alt="logo Leonard de Vinci">
      </figure>
      <figure class="img-cell"> <img src="/images/gw.png" alt="logo Greenworking">
      </figure>
      <figure class="img-cell"> <img src="/images/framatome.png" alt="logo framatome">
      </figure>
      <figure class="img-cell"> <img src="/images/ft.png" alt="logo France Télévisions">
      </figure>
      <figure class="img-cell"> <img src="/images/sg.png" alt="logo Société Générale">
      </figure>
      <figure class="img-cell"> <img src="/images/mr21.png" alt="logo MR21">
      </figure>
      <figure class="img-cell"> <img src="/images/centrale.png" alt="logo Centrale Supélec">
      </figure>
    </div>
  </section>
  <section class="testimonies main-section">
    <blockquote class="slides">
      <p>As for me, I found Léa to be very instructive about the messages she conveys. She realized that participants
        didn’t have comprehensive prior knowledge, and that it’s hard for companies to evolve. She was not judging the
        group, she was focused on conveying her convictions, and we all appreciated that a lot.</p>
      <footer>Vincent Bouetel — IT director for Société Générale (French Bank)</footer>
    </blockquote>
    <blockquote class="slides">
      <p>Lea helped CentraleSupelec set up an ambitious climate training for students. I appreciated her creativity,
        educational approach, project management skills, and hindsight on difficult questions. Students were grateful
        for her clear and precise inputs, her vision, and the quality of the interaction.</p>
      <footer>Christophe Laux — Former Stanford Professor, and Professor at CentraleSupelec
      </footer>
    </blockquote>
    <div class="dots">
      <span class="dot" data-index="0"></span>
      <span class="dot" data-index="1"></span>
    </div>
  </section>
</section>