<section id="home">
  <header class="header-intro main-section">
    <div class="main-title">
      <h1>Fréquence 440, votre tremplin pour la <span class="underlined">transition</span></h1>
    </div>
    <p>Particulier ou société, vous voulez agir pour un monde plus responsable mais ne savez pas par où commencer ?</p>
  </header>
  <section class="discover main-section">
    <div class="left">
      <div class="prg-header">
        <h2>Découvrez !</h2>
        <p>En tant qu’ingénieure, artiste et formatrice,
          je vous propose un accompagnement adapté.</p>
      </div>
    </div>
    <div class="right">
      <div class="right-top">
        <div class="right-main">
          <ul class="inline-list">
            <li>Diagnostics</li>
            <li>Formations & conférences</li>
            <li>Ateliers de co-construction</li>
          </ul>
          <h2>Pour accompagner votre entreprise ou école du supérieur</h2>
        </div>
        <div class="right-footer">
          <h3>Prestations personnalisées</h3>
        </div>
      </div>
      <div class="right-bottom">
        <div class="right-main">
          <ul class="inline-list">
            <li>Documents de références</li>
            <li>Synthèses</li>
            <li>Essais</li>
            <li>Mise en contact</li>
          </ul>
          <h2>Pour enrichir votre démarche personnelle</h2>
        </div>
        <div class="right-footer">
          <h3>Ressources Ouvertes à tous</h3>
        </div>
      </div>
    </div>
  </section>
  <section class="clients main-section">
    <div class="prg-header">
      <h2>Mes clients</h2>
      <p>J’ai eu le plaisir de travailler ces sujets avec différentes entités</p>
    </div>
    <div class="grid">
      <figure class="img-cell"> <img src="/images/cerdd.png" alt="logo CERDD">
      </figure>
      <figure class="img-cell"> <img src="/images/ldv.png" alt="logo Leonard de Vinci">
      </figure>
      <figure class="img-cell"> <img src="/images/gw.png" alt="logo Greenworking">
      </figure>
      <figure class="img-cell"> <img src="/images/framatome.png" alt="logo framatome">
      </figure>
      <figure class="img-cell"> <img src="/images/ft.png" alt="logo France Télévisions">
      </figure>
      <figure class="img-cell"> <img src="/images/sg.png" alt="logo Société Générale">
      </figure>
      <figure class="img-cell"> <img src="/images/mr21.png" alt="logo MR21">
      </figure>
      <figure class="img-cell"> <img src="/images/centrale.png" alt="logo Centrale Supélec">
      </figure>
    </div>
  </section>
  <section class="testimonies main-section">
    <blockquote class="slides">
      <p>Pour ma part, j’ai trouvé Léa très pédagogique dans les messages à passer. Elle avait conscience que les
        personnes ne connaissaient pas tout et que c’est compliqué pour les entreprises de bouger. Elle n’était pas dans
        le jugement mais bien dans la transmission de sa conviction et c’était très appréciable.</p>
      <footer>Vincent Bouetel — directeur IT de la Société Générale</footer>
    </blockquote>
    <blockquote class="slides">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea iure adipisci animi at vitae incidunt ex nulla
        totam consectetur doloribus ratione facere dignissimos, expedita, amet delectus magni. Nulla, itaque a. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Deserunt laboriosam pariatur officia assumenda rem
        voluptatibus unde molestias similique.</p>
      <footer>Blabla </footer>
    </blockquote>
    <blockquote class="slides">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea iure adipisci animi at vitae incidunt ex nulla
        totam consectetur doloribus ratione facere dignissimos, expedita, amet delectus magni. Nulla, itaque a. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Deserunt laboriosam pariatur officia assumenda rem
        voluptatibus unde molestias similique.</p>
      <footer>Blabla </footer>
    </blockquote>
    <div class="dots">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </section>
</section>