<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/{{style}}.css' />
  <link rel="stylesheet" href="/stylesheets/nav.css">
  <script type="module" src="/javascripts/nav.js"></script>
  <link rel="stylesheet" href="/stylesheets/footer.css">
</head>

<body id="body">
  <nav id="navbar">
    <h1>Fréquence 440</h1>
  </nav>
  {{{body}}}
  <footer id="footer">
    <div class="contact">
      <p>Fréquence 440</p>
      <address>
        <p class="address">
          rue kjfijdie </br>
          75000 Paris
        </p>
        <p class="links">
          <a href="">Linkedin</a>
          <a href="">Contact</a>
          <a href="">Autres pages</a>
          <a href="">Conditions de vente + mentions légales</a>
        </p>
      </address>
    </div>
    <div class="copyright">
      <p>
        designé par : Elvire Volk Leonovitch, réalisé par : Tatijana Rajcic
      </p>
      <p>© Copyright 2020 Fréquence 440. All Rights Reserved.</p>
    </div>
  </footer>
</body>

</html>