<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/{{style}}.css' />
  <link rel="stylesheet" href="/stylesheets/nav.css">
</head>

<body>
  <nav>
    <h1>Fréquence 440</h1>
  </nav>
  {{{body}}}
</body>

</html>