<section id="presta">
  <header class="header-intro main-color">
    <h1 class="page-title">Les prestations</h1>
    <p class="catchphrase">Pour les entreprises et écoles du supérieur, des prestations à la carte personnalisées</p>
    <p class="sub-catchphrase">Ancrées dans la rigueur scientifique, une approche collaborative, l’écoute des besoins et
      la créativité. </p>
    <div class="buttons-panel">
      <button class="white-button">Demander un devis</button>
      <button class="mixed-button">Voir le détail des prestations</button>
    </div>
  </header>
</section>