<section id="presta">
  <header class="header-intro main-section">
    <h1 class="page-title">Les prestations</h1>
    <p class="catchphrase">Pour les entreprises et écoles du supérieur, des prestations à la carte personnalisées</p>
    <p class="sub-catchphrase">Ancrées dans la rigueur scientifique, une approche collaborative, l’écoute des besoins et
      la créativité. </p>
    <div class="buttons-panel">
      <button class="white-button">Demander un devis</button>
      <button class="mixed-button">Voir le détail des prestations</button>
    </div>
  </header>
  <section class="presta-cards main-section">
    <div class="prg-header">
      <h2>Prestations</h2>
      <p>Depuis la compréhension et l’analyse des sujets, jusqu’à la co-construction de solutions</p>
    </div>
    <div class="presta-pres">
      <div>
        <ul class="presta-list">
          <li class="presta-item selected-item" data-cat="diagnostics">
            <span>Diagnostics</span> <i class="fas fa-chevron-right"></i>
          </li>
          <li class="presta-item" data-cat="formations">
            <span>Formations ludiques</span> <i class="fas fa-chevron-right"></i>
          </li>
          <li class="presta-item" data-cat="conférences">
            <span>Conférences interactives </span> <i class="fas fa-chevron-right"></i>
          </li>
          <li class="presta-item" data-cat="ateliers">
            <span>Ateliers de co-construction</span> <i class="fas fa-chevron-right"></i>
          </li>
        </ul>
      </div>

      <div id="presta-result"></div>
    </div>
  </section>
</section>