.button {
  border: none;
  font-family: Ostia Antica;
  display: flex;
  align-items: center;
  padding: 16px 24px;
  font-size: 1rem;
  line-height: 1.25rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 10px 0px;
  box-sizing: border-box;
  text-decoration: none;
}

.buttons-panel {
  display: flex;
}

.buttons-panel .button:not(:last-child) {
  margin-right: 10px;
}

.white-button {
  background: #ffffff;
  color: #131e1e;
}

.white-button:hover {
  color: white;
  background: #fc7753;
}

.white-button:active {
  color: white;
  background: #ff4c1c;
}

.black-button {
  background: #131e1e;
  color: #ffffff;
}

.mixed-button {
  background: #131e1e;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.mixed-button:hover {
  background: #131e1e;
  border: 2px solid #fc7753;
  color: #fc7753;
}

.mixed-button:active {
  background: #131e1e;
  border: 2px solid #ff4c1c;
  color: #ff4c1c;
}

.icon-container {
  background: #ffffff;
  color: #131e1e;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.icon-container i {
  font-size: 1.5rem;
}