#footer {
  padding: 64px 100px;
  border-top: 1px solid #b8b8b9;
  min-height: 60vh;
  background: #131e1e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact {
  display: flex;
  height: 40vh;
  margin-bottom: 5vh;
}

.contact p {
  font-family: Ostia Antica;
  font-style: normal;
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: #ffffff;
}

.contact address {
  padding-left: 100px;
}

.contact .links {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.contact .links a {
  color: #ffffff;
  text-decoration: none;
}

.copyright {
  display: flex;
  justify-content: space-between;
  font-family: Ostia Antica;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: right;
  color: #ffffff;
  padding-top: 15px;
  border-top: 1px solid #b8b8b9;
}
