#footer {
  border-top: 1px solid #b8b8b9;
  background: #131e1e;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 2;
  padding: 50px 100px;
}

#footer .contact,
#footer .links {
  padding-bottom: 30px;
}

#footer .contact {
  grid-column: 1/6;
}

#footer .contact > p {
  padding-bottom: 20px;
  border-bottom: 1px solid #adadad;
  font-size: 1.75rem;
}

#footer .contact p {
  line-height: 2.5rem;
  color: #ffffff;
}

#footer .address {
  padding: 20px 0;
  font-size: 1.25rem;
}

#footer .address a {
  color: white;
  text-decoration: none;
}

#footer .links {
  padding: 0 30px 0 0;
  font-size: 1.25rem;
  line-height: 2rem;
}

#footer .links a {
  padding-bottom: 30px;
  color: #ffffff;
  text-decoration: none;
}

#footer .links a.sub-link {
  color: #adadad;
}

#footer .first-links {
  grid-column: 7/9;
}

#footer .second-links {
  grid-column: 9/11;
}

#footer .second-links a:last-child {
  padding-bottom: 50px;
}

#footer .third-links {
  grid-column: 11/13;
}

#footer .copyright {
  grid-column: 1/13;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: right;
  color: #ffffff;
  padding-top: 15px;
  border-top: 1px solid #b8b8b9;
}

#footer .copyright a {
  color: #ffffff;
}

.hidden {
  display: none;
}

@media screen and (max-width: 500px) {
  #footer {
    padding: 30px 12px;
  }

  #footer .address,
  #footer .links {
    font-size: 0.875rem;
  }

  #footer .contact {
    grid-column: 1/13;
  }

  #footer .first-links,
  #footer .second-links,
  #footer .third-links {
    grid-column: 1/12;
  }

  #footer .contact > p {
    font-size: 1.125rem;
  }

  #footer .contact p {
    line-height: 1.25rem;
  }

  #footer .links a,
  #footer .second-links a:last-child {
    padding-bottom: 15px;
  }

  #footer .sub-link {
    margin-left: 20px;
  }
}

@media screen and (min-width: 500px) and (max-width: 1025px) {
  #footer .address,
  #footer .links {
    font-size: 0.875rem;
  }

  #footer .contact > p {
    font-size: 1.125rem;
  }

  #footer .contact p {
    line-height: 1.25rem;
  }

  .third-links {
    margin-left: 10px;
  }
}

@media screen and (max-width: 800px) {
  .copyright > div:first-child {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
  }

  .copyright > div:last-child {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .copyright > div:first-child,
  .copyright > div:last-child {
    width: 100%;
    align-items: flex-start;
    margin: 20px 0;
  }
}
