.full-page-list {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  background: #131e1e;
  color: #ffffff;
  padding: 50px 100px;
}

.full-page-list ol {
  grid-column: 8/15;
  list-style: none;
  counter-reset: my-awesome-counter;
}

.full-page-list li {
  padding: 20px 0;
  counter-increment: my-awesome-counter;
  position: relative;
}

.full-page-list li::before {
  content: "0" counter(my-awesome-counter);
  position: absolute;
  font-variant-numeric: tabular-nums;
  left: -70px;
  color: #adadad;
}

.full-page-list li p {
  display: inline-block;
}

.full-page-list li p:last-child {
  color: #adadad;
}

.full-page-list li a {
  color: #adadad;
}

@media screen and (max-width: 1025px) {
  .full-page-list h1,
  .full-page-list address {
    grid-column: 1/14;
    padding: 0;
  }

  .full-page-list h1 {
    font-size: 1.75rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .full-page-list {
    padding: 30px 12px;
  }

  .full-page-list ol {
    grid-column: 1/15;
  }

  .full-page-list li::before {
    position: initial;
  }
}

@media screen and (min-width: 500px) and (max-width: 1025px) {
  .full-page-list ol {
    grid-column: 1/14;
  }
}
