.full-page-list {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  background: #131e1e;
  padding: 100px 0;
  color: #ffffff;
  padding: 50px 100px;
}

.full-page-list ol {
  grid-column: 8/15;
  list-style: none;
  counter-reset: my-awesome-counter;
}

.full-page-list li {
  padding: 20px 0;
  counter-increment: my-awesome-counter;
  position: relative;
}

.full-page-list li::before {
  content: "0" counter(my-awesome-counter);
  position: absolute;
  left: -70px;
  color: #adadad;
}

.full-page-list li p {
  display: inline-block;
}

.full-page-list li p:last-child {
  color: #adadad;
}
