.header-intro {
  width: 100%;
  margin-top: 10vh; /* dimensions of the nav */
  min-height: 90vh;
  padding: 100px;
  background: #131e1e;
  font-size: 3rem;
  line-height: 3.75rem;
  color: #ffffff;
}

.catchphrase {
  width: 70%;
}

.page-title {
  font-size: 1rem;
  line-height: 1.25rem;
  color: #adadad;
  margin: 10px 0px;
}

.sub-catchphrase {
  font-family: Traulha;
  font-style: italic;
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: #e6e6e2;
  width: 50%;
  margin: 50px 0;
}
