#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  background: #131e1e;
  display: flex;
  align-items: center;
  color: #ffffff;
  z-index: 99;
}

#navbar .hamburger {
  /* position: absolute;
  left: 50px; */
  width: 100px;
}

@media screen and (max-width: 500px) {
  #navbar .hamburger {
    width: 55px;
  }
}

#navbar h1 {
  font-size: 1.75rem;
  line-height: 2.5rem;
}

@media screen and (max-width: 500px) {
  #navbar h1 {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}

#navbar h1 a {
  text-decoration: none;
  color: #ffffff;
}

/* full screen navbar */

.overlay {
  height: 0;
  margin-top: 10vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #131e1e;
  /* background-color: rgba(0, 0, 0, 0.9); */
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 1s;
  padding: 0 100px;
}

.overlay-content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  list-style: none;
  height: 80vh;
  padding: 100px 0;
}

.overlay a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  font-size: 2.6875rem;
  line-height: 3.5rem;
}

.overlay a:hover {
  font-style: italic; /* change to italic font family when received */
}

.overlay a:active {
  font-style: italic; /* change to italic font family when received */
  color: #fc7753;
}

.overlay footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #bfbfc0;
  align-items: center;
  height: 10vh;
}

.overlay footer * {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #ffffff;
}

.active-link ::before {
  content: "— ";
}

/* @media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
} */
