#presta {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

/* PRESTA DETAILS */

#presta #details {
  background: #f5f5f5;
}

/* the whole grid */

.presta-grid {
  margin: 3% 0;
  display: grid;
  grid-template-columns: 350px 4fr;
}

/* the list on the left side */

.presta-list {
  list-style: none;
  width: 100%;
}

.presta-item {
  color: #adadad;
}

.presta-item i {
  visibility: hidden;
}

.presta-item:last-child .presta-item-title {
  border-bottom: 1px solid #adadad;
}

.presta-item-title {
  width: 100%;
  height: 50px;
  border-top: 1px solid #adadad;
  cursor: pointer;
}

.presta-item-title:hover {
  color: #fc7753;
}

.selected-item {
  color: #131e1e;
}

.selected-item i {
  visibility: visible;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #131e1e;
  color: #ffffff;
}

/* the cards on the right side */

#cards {
  display: grid;
  grid-gap: 1em;
  border-collapse: collapse;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); */
  grid-auto-rows: min-content;
  padding: 0 20px;
}

/* one card */

.card {
  background: #131e1e;
  /* min-height: 50vh; */
  padding: 30px;
}

.card .detailed-info {
  border-bottom: 1px solid #adadad;
}

.card .index {
  font-feature-settings: "tnum" on, "lnum" on;
  color: #ffffff;
  padding-bottom: 10px;
}

.card .duration {
  color: #adadad;
  font-variant-numeric: tabular-nums;
}

.card h3 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #ffffff;
  margin: 15px 0;
}

.break-line {
  display: table;
}

.card .content {
  font-size: 0.95rem;
  color: #adadad;
}

.card .content a {
  color: #adadad;
  text-decoration: none;
}

.card .semi-underlined {
  line-height: 1rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  bottom: 1rem;
  margin-top: 50px;
}

.card .semi-underlined a {
  text-decoration: none;
  color: #ffffff;
}

.card .semi-underlined:before {
  border-top: 3px solid #ffffff;
}

.card .semi-underlined:hover a {
  color: #fc7753;
}

.card .semi-underlined:hover:before {
  border-top: 3px solid #fc7753;
}

.expand {
  grid-column: 1/-1;
}

/* additional content */

.additional-container {
  background: #e6e6e2;
  margin: 30px 0;
  padding: 20px;
}

.additional-container h3 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  color: #131e1e;
}

.additional-container p {
  font-family: Traulha;
  font-style: italic;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #131e1e;
  margin: 30px 0;
}

/* additional navigational button on mobile */

#cards i {
  margin-right: 10px;
}

/* call to action */

.call-to-action > div {
  width: 50%;
}

.call-to-action > div:last-child {
  background: #131e1e;
  color: #ffffff;
  padding: 50px;
}

.call-to-action > div:last-child > p {
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.call-to-action button {
  margin-top: 80px;
}

.options {
  padding-top: 40px;
}

.options > p {
  text-decoration: underline;
  padding-bottom: 15px;
}

.square {
  list-style-type: square;
  margin-left: 4em;
}

.arrow li {
  list-style-type: none;
  position: relative;
  padding-left: 10px;
}

.arrow li:before {
  content: "\25BA \0020";
  font-size: 0.7rem;
  position: absolute;
  left: -10px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 850px) {
  .presta-grid {
    grid-template-columns: initial;
  }

  .presta-list {
    margin: 20px 0;
  }

  #cards {
    padding: 0;
  }
}

@media screen and (min-width: 1500px) {
  #cards {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}

@media screen and (max-width: 500px) {
  #cards {
    grid-column-start: 1;
  }
}

@media screen and (max-width: 500px) {
  #presta .buttons-panel .mixed-button {
    display: none;
  }
}

@media screen and (max-width: 1025px) {
  .call-to-action > div {
    width: 100%;
  }

  .call-to-action button {
    margin-top: 20px;
  }

  .call-to-action > div:last-child {
    margin: 20px 0;
  }
}

@media screen and (max-width: 500px) {
  .card h3 {
    font-size: 1.75rem;
  }

  .call-to-action > div:last-child {
    padding: 30px;
  }

  .square {
    margin-left: 1em;
  }
}

/* Invoice styling */

.full-grey {
  height: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(19, 30, 30, 0.7);
  overflow-x: visible;
  overflow-y: visible;
  transition: 1s;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#invoice {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  opacity: 1;
  width: 50vw;
  padding: 50px 30px;
  margin-top: 15vh;
  margin-bottom: 15vh;
  overflow-y: scroll;
}

#invoice .button {
  width: max-content;
}

#invoice .bordered {
  padding: 20px;
  margin: 10px 0;
}

#invoice input,
#invoice textarea {
  border: 1px solid #adadad;
  padding: 10px;
}

.form-group {
  margin: 10px 0;
}
