@font-face {
  font-family: "Ostia Antica";
  src: url("/fonts/Ostia_Antica_WEB-Regular.eot");
  src: url("/fonts/Ostia_Antica_WEB-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Ostia_Antica_WEB-Regular.woff") format("woff"),
    url("/fonts/Ostia_Antica_WEB-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Traulha";
  src: url("/fonts/Traulha_WEB-Italica.eot");
  src: url("/fonts/Traulha_WEB-Italica.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Traulha_WEB-Italica.woff") format("woff"),
    url("/fonts/Traulha_WEB-Italica.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: Ostia Antica;
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (min-width: 1150px) and (max-width: 1200px) {
  body,
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 1150px) and (max-width: 1200px) and (min-height: 450px) and (max-height: 550px) {
  body,
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1250px) {
  body,
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 1250px) and (max-width: 1350px) and (min-height: 450px) and (max-height: 550px) {
  body,
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 1250px) and (max-width: 1400px) {
  body,
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1550px) and (max-width: 1800px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1800px) {
  html {
    font-size: 21px;
  }
}

/* A CHANGER:

FIXED HEIGHT EN PIXELS
PADDINGS EN PIXELS
TESTER TOUTES LES DISPOSITIONS POSSIBLES D'ECRAN

*/

/* -------------------------- MAIN SECTIONS / COMMUN CODE -------------------------- */

.main-section {
  padding: 64px 100px;
}

.prg-header h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #131e1e;
  margin: 0 0 12px 0;
}

.prg-header p {
  font-family: Traulha;
  font-style: italic;
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: #000000;
}
